@font-face {
    font-family: 'Gameplay';
    src: url('Gameplay.woff2') format('woff2'),
        url('Gameplay.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
body{
	background-color: black;
	color: 008502;
	text-align: center;
	font-family: 'Gameplay';
}
a{
	color: 00b7ff;
	font-size: 14;
	text-decoration: none;
	padding: 3px;
}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: 0062ff;
}
html{
	border: 2px solid lime;
	border-radius: 5px;
}
h1, h2, h3, h4{
	color: lime;
}
