@font-face {
    font-family: 'Gameplay';
    src: url('Gameplay.woff2') format('woff2'),
        url('Gameplay.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
    font-display: swap;
}
html{
	background-color: #e5e5e5;
	border: 5px solid #4f4f4f;
	font-family: 'Gameplay';
	text-align: center;
	color: #3f3f3f;
	font-size-adjust: 1;
	padding: 5px;
}
a[href]{
	color: #004fff;
	text-decoration: none;
	cursor: pointer;
	opacity: 1.0;
}
a:hover{
	text-decoration: underline;
}
a{
	text-decoration: none;
	color: #4f4f4f;
	cursor: not-allowed;
	opacity: 0.5;
}
p, h1, h2{
	text-align: center;
	white-space: pre-wrap;
}
a.lim{
	color: #009922;
}
.big{
	font-size-adjust: 1.25;
}
button{
	background-color: white;
	border: 3px solid black;
	font-family: 'Gameplay';
	font-size-adjust: 1;
	opacity: 0.5;
}
button:active, button:hover{
	opacity: 1.0;
	cursor: pointer;
}
button[disabled], button[disabled]:hover{
	opacity: 0.5;
	cursor: not-allowed;
}
img.gallery{
	float: left;
	padding: 5px;
	width: 19.4%;
	opacity: 0.5
}
img.gallery:hover{
	opacity: 1;
}