@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
html{
	font-family: 'Noto Sans JP', sans-serif;
	background-image: linear-gradient(#0062ff, #8800ff);
	background-color: #8800ff;
	background-repeat: no-repeat;
	text-align: center;
	display: block;
}
div.nav{
	background-color: #f0f0f0;
	border-radius: 5px;
	padding: 10px;
}
a.nav0{
	border-left: 1px solid black;
	padding: 3px;
	padding-top: 5px;
}
a.nav{
	border-right: 1px solid black;
	padding: 3px;
}
a:link, a:visited{
	color: #00f048;
	text-decoration: none;
}
a:hover{
	color: #008026;
	text-decoration: underline;
}
div.info{
	background-color: #fdfdfd;
	color: black;
	border-radius: 5px;
	padding: 5px;
}
img{
	float: right;
	width: 550px;
}
p, h1, h2, h3, h4, h5{
	white-space: pre-wrap;
}
code{
	background-color: #363636;
	color: white;
	padding: 2px;
	border-radius: 2px;
}
.right{
	float: right;
	padding-right: 50px;
}
p.right{
	text-align: right;
}
.left{
	float: left;
}
h3.left{
	text-align: center;
}
li{
	text-align: left;
}
input.txt{
	width: 250;
	background-color: white;
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px;
}
.sb{
	background-color: white;
	border: 2px solid black;
	border-radius: 2px;
	padding: 5px;
}
button.sb:active{
	border: 2px solid white;
}
button.sb:hover{
	border: 2px solid gray;
}