html{
	font-family: sans-serif;
	background-color: #000000;
	color: #00ff00;
	text-align: left;
}
h1{
	font-size: 80;
}
h2{
	font-size: 60;
}
h3{
	font-size: 40;
}
p{
	font-size: 20;
}
a{
	color: #0066ff;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
